ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #04AA6D;
}

li a:hover:not(.active) {
  background-color: #008080;
}

.active {
  background-color: #04AA6D;
}
